*{
    margin: 0;
    padding: 0;
    font-family: system-ui;
    box-sizing: border-box ;
    
}
.contain{
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* color: aliceblue; */
  
}
.cal{
    background-color: #3a4452;
    padding: 22px;
    border-radius: 15px;
}
.cal form input{
    color: aliceblue;
    border: 0;
    border-radius: 12px;
    width: 60px;
    outline: 0;
    height: 60px;
    box-shadow: -9px -9px 15px rgba(255,255,255,0.1),-5px -5px 16px rgba(0,0,0,0.3);
    font-size: 22px;
    margin: 12px;
    background: transparent;
    cursor: pointer;
}
.display{
    display: flex;
    margin: 22px 0;
    justify-content: flex-end;
}
.display input{
    text-align: right;
    flex: 2;
    font-size: 50px;
}
#main{
    width: 150px;
}